{% extends 'pages/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block content %}
<main class="page payment-page">
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
          <h2>Payment</h2>
        <form action="/paymentdone">
          <div class="products">
            <h3 class="title">Checkout</h3>
            {% for item in cart_items %}
            <div class="item">
              <span class="price">Rs. {{item.total_cost}}</span>
              <p class="item-name">{{item.product.title}}</p>
              <p class="fst-italic">Quantity: {{item.quantity}}</p>
            </div>
            {% endfor %}
            <div class="total">Total(inc.Shipping cost)<span class="price">Rs. {{totalamount}}</span></div><!--totalamount etikai pass vaira xa checkout view bata so item.totalamount gareko-->
        </div>
          <div class="card-details">
            <h4>Select Shipping Address</h4>
            <hr>
            
              {% for ad in add %}  
              <div class="card">
                <div class="card-body">
                <h5>{{ad.name}}</h5>
                <p>{{ad.locality}}, {{ad.city}}, {{ad.region}}</p>
                </div>
              </div>
                <div class="form-check mt-2 mb-5">
                  <input class="form-check-input" type="radio" name="custid" id="custadd((forloop.counter}}" value="{{ad.id}}"><!--we set id name so like this so that the rediobuttons can be only clicked one at a time-->
                  <label class="form-check-label fw-bold" for="custadd((forloop.counter}}">
                    Address: {{forloop.counter}} </label>
                </div>
                {% endfor %}
                <div class="text-end">
                  <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
                </div>
             
            </div>
        </form>
      </div>
    </section>
  </main>
</body>
<style>
    .payment-form{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
    }

    .card-details{
        background-color: #f6f6f6;
    }

    .payment-form .content{
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        background-color: white;
    }

    .payment-form h2{
        padding-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    } 

    .payment-form.dark .block-heading p{
        opacity:0.8;
    }

    .payment-form .block-heading h1,
    .payment-form .block-heading h2,
    .payment-form .block-heading h3 {
        margin-bottom:1.2rem;
        color: #3b99e0;
    }

    .payment-form form{
        border-top: 2px solid #5ea4f3;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        background-color: #ffffff;
        padding: 0;
        max-width: 600px;
        margin: auto;
    }

    .payment-form .title{
        font-size: 1em;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        margin-bottom: 0.8em;
        font-weight: 600;
        padding-bottom: 8px;
    }

    .payment-form .products{
        background-color: #f7fbff;
        padding: 25px;
    }

    .payment-form .products .item{
        margin-bottom:1em;
    }

    .payment-form .products .item-name{
        font-weight:600;
        font-size: 0.9em;
    }

    .payment-form .products .item-description{
        font-size:0.8em;
        opacity:0.6;
    }

    .payment-form .products .item p{
        margin-bottom:0.2em;
    }

    .payment-form .products .price{
        float: right;
        font-weight: 600;
        font-size: 0.9em;
    }

    .payment-form .products .total{
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        padding-top: 19px;
        font-weight: 600;
        line-height: 1;
    }

    .payment-form .card-details{
        padding: 25px 25px 15px;
    }

    .payment-form .card-details label{
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
        color: #79818a;
        text-transform: uppercase;
    }

    .payment-form .card-details button{
        margin-top: 0.6em;
        padding:12px 0;
        font-weight: 600;
    }

    .payment-form .date-separator{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }

    @media (min-width: 576px) {
    .payment-form .title {
        font-size: 1.2em; 
    }

    .payment-form .products {
        padding: 40px; 
    }

    .payment-form .products .item-name {
        font-size: 1em; 
    }

    .payment-form .products .price {
        font-size: 1em; 
    }

    .payment-form .card-details {
        padding: 40px 40px 30px; 
    }

    .payment-form .card-details button {
        margin-top: 2em; 
    } 
}
 </style> 
{% endblock content %}