{% extends "pages/base.html" %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-9 offset-sm-1">
    <h3>Password Reset completed!</h3>
    <hr>
    <img src="{% static 'media/tick.jpg' %}">
  </div>
 </div>
</div>
<style>
    h3{
      text-align: center;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
</style>
{% endblock content %}
