{% extends "pages/base.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
    <li class="d-grid" style="margin-top: 5px;"><a href="{% url 'passwordchange' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    <h3>Password Changed Succesfully</h3>
    <hr>
    <img src="{% static 'media/tick.jpg' %}">
  </div>
 </div>
</div>
<style>
    .formlabels input{
        width: 50%;
    }
</style>
{% endblock content %}
