{% extends "pages/base.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
    <li class="d-grid" style="margin-top: 5px;"><a href="{% url 'passwordchange' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    <h3>Change Password</h3>
    <hr>
   <form action="" method="post" class="forms">
    {% csrf_token %}
        {% for fm in form %}
        <div class="formlabels">
            {{fm.label_tag}} {{fm}} <small class = "text-danger" id="errortext">{{fm.errors|striptags}}</small><!--printing labels,field and errors -->
        </div> 
         {% endfor %}              
         <br> 
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
     <button type="submit" class="btn btn-primary">Save</button>
   </form>
  </div>
 </div>
</div>
<style>
    .formlabels input{
        width: 100%;
    }
    .forms{
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        width: 50%;
    }
</style>
{% endblock content %}
