{% extends "pages/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid mt-5 mb-5">
    <div class="filtering">
        <div class="filtering2"> <span class="btn text-primary"> <span class="fas fa-th px-1"></span><span style="color: darkblue;">Grid view</span> </span> <span class="btns"> <span class="fas fa-list-ul"></span><span class="px-1">List view</span></div>
        <select name="sort" id="sort" class="px-1 py-1 ml-2">
            <option value="" selected hidden>Sort by</option>
            <option value="rating">Rating</option>
            <option value="popular">Popular</option>
            <option value="featured">Featured</option>
        </select>
    </div>
    <div class="row g-2" id="container-fluid">
        <div class="col-md-3">
            <div class="processor p-2">
                <div class="heading d-flex justify-content-between align-items-center">
                    <h6 class="text-uppercase"><span id="cone">Price</span></h6>
                </div>
                <div class="list-group list-group-flush">
					<li class="list-group-item">
						<input type="range" id="rangeInput" value="{{minmaxprice.selling_price__min}}" min={{minmaxprice.selling_price__min}} max={{minmaxprice.selling_price__max}} oninput="maxPrice.value=this.value" />
						<!-- id rangeInput depends upon onkeyup rangeInput so that when we type the price in max box it shows in price range too>
                         id maxPrice depends upon oninput maxPrice so that when we move the price range it shows in max box too -->
                        <p>{{minmaxprice.selling_price__min|floatformat:0}} - {{minmaxprice.selling_price__max|floatformat:0}}</p>
                    </li>
					<li class="list-group-item">
						Max: <input type="number" value="{{minmaxprice.selling_price__min}}" min={{minmaxprice.selling_price__min}} max={{minmaxprice.selling_price__max}} id="maxPrice" onkeyup="rangeInput.value=this.value"/>
						<button id="priceFilterBtn" class="btn btn-info btn-sm" style="margin-top: -2px;">Filter</button>
					</li>
				</div>
            </div>
            <div class="processor p-2">
                <div class="heading d-flex justify-content-between align-items-center">
                    <h6 class="text-uppercase"><span id="ctwo">Case Material</span></h6> <span>--</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> <label class="form-check-label" for="flexCheckDefault"> <span id="op5">Steel</span> </label> </div> <span>3</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked> <label class="form-check-label" for="flexCheckChecked1"> <span id="op6">Aluminium</span></label> </div> <span>4</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"> </label><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked> <label class="form-check-label" for="flexCheckChecked2"> <span id="op7">Plastic</span> </label> </div> <span>14</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"> </label><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked> <label class="form-check-label" for="flexCheckChecked3"> <span id="op8">Tempered-Glass</span> </label> </div> <span>8</span>
                </div>
            </div>
            <div class="brand p-2">
                <div class="heading d-flex justify-content-between align-items-center">
                    <h6 class="text-uppercase"><span id="cthree">Brands</span></h6> <span>--</span>
                </div>
                {% for c in a %}
                    <div class="d-flex justify-content-between mt-2">
                        <div class="form-check"> <input class="form-check-input" data-filter="brand" type="checkbox" catid="{{categoryid.id}}" value="{{c.id}}" id="flexCheckDefault11"> <label class="form-check-label" for="flexCheckDefault11"> <span id="op9">{{c.title}}</span> </label> </div> <span>13</span>
                    </div>
                {% endfor %}
                
                <!-- <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked12" checked> <label class="form-check-label" for="flexCheckChecked12"> <span id="op10">DELL</span> </label> </div> <span>4</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked13" checked> <label class="form-check-label" for="flexCheckChecked13"> <span id="op11">Acer</span> </label> </div> <span>24</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked14" checked> <label class="form-check-label" for="flexCheckChecked14"> <span id="op12">Corsair</span> </label> </div> <span>18</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked15" checked> <label class="form-check-label" for="flexCheckChecked15"> <span id="op13">ASUS</span> </label> </div> <span>44</span>
                </div> -->
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="row g-2" id="productlists">
                <p class="ajaxloading">Loading..</p>
                {% for b in products %}
                <div class="col-md-4 productbox">
                    <div class="product py-4"> 
                        <a href="/product-detail/{{b.id}}">
                            <div class="text-center"> <img src="{{b.product_image.url}}" width="230" height="200" alt="none"> </div>
                        </a>    
                            <div class="about text-center">
                                <h1><span id="prod1">{{b.title}}</span></h1> <span id="price1">Rs {{b.discounted_price}}</span>
                            </div>                   
                        <div class="text-center" style="color: #ffbb00;"> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                        <div class="cart-button mt-3 px-2 d-flex justify-content-center align-items-center"> 
                            <form action="/add-to-cart"><!--to get the product id we do this-->
                                <input type="hidden" name="prod_id" value={{b.id}} id="prod_id">
                                <button class="btn btn-primary text-uppercase" ><span id="cart1">Add to cart</span></button>
                            </form>
                        </div>
                       
                    </div>
                </div>
                {% endfor %} 
            </div>
        </div>
        <p class="my-4 text-center"><button class="btn btn-dark btn-sm" id="loadmore" data-total="{{totaldata}}" data-limit="3" catid="{{categoryid.id}}">Load More <i class="fa fa-sync load-more-icon"></i></button></p>
        <!-- data limit is how many data or products we want to show in html page and data-total means how many data or products we have in database which is passed from views.py dictionary-->
    </div>
</div>
<style>
select{
    position: relative;
    top: 5px;
    height: 30px;
}
.t-products {
background-image: linear-gradient(to right top, #5629c0, #5625cb, #5620d5, #551ae0, #5412eb);
color: #eee;
border-radius: 3px
}

.processor {
    background-color: #eee;
    margin-top: 5px;
    border-bottom: 1px solid #fff
}

.brand {
    margin-top: 5px;
    background-color: #eee;
    border-bottom: 1px solid #fff
}
.type {
    background-color: #eee;
}

.product {
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    position: relative
}
.about h1{
    font-size: 18px;
    cursor: pointer;
}
.about span {
    color: #5629c0;
    font-size: 16px
}

.cart-button button {
    font-size: 12px;
    color: #fff;
    background-color: #5629c0;
    height: 38px
}

.cart-button button:focus,
button:active {
    font-size: 12px;
    color: #fff;
    background-color: #5629c0;
    box-shadow: none
}

.product_fav i {
    line-height: 40px;
    color: #5629c0;
    font-size: 15px
}

.product_fav {
    display: inline-block;
    width: 36px;
    height: 39px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 11%;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.product_fav:hover {
    background: #5629c0;
}

.product_fav:hover i {
    color: #fff
}

.about {
    margin-top: 12px
}

.off {
    position: absolute;
    left: 65%;
    top: 6%;
    width: 80px;
    text-align: center;
    height: 30px;
    line-height: 8px;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}
.col-md-4{
    margin: 12px 8px;
    width: 30%;
}
.filtering{
    display: flex;
    justify-content: left;
    margin-left: -10px;
}

@media screen and (max-width:800px){
	.col-md-4{
        width: 96%;
    }
}

@media screen and (min-width:800px){
	.col-md-3{
        width: 20%;
    }
    .col-md-9{
        width: 80%;
        padding-left: 3%;
    }
    
}
</style>
{% endblock content %}